{
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 0,
    "no-mixed-operators": 0,
    "no-restricted-syntax": [
      "error",
      "ForInStatement"
    ],
    "prefer-destructuring": 0
  }
}
